<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head-boilerplate') %>
<body>
    <%- include('partials/header', { currentRoute: 'palettes' }) %>
    <main class="main self-center">
        <section class="palette-details">
            <%- include('partials/palette-colors-list', { colors: palette.colors, includeColorsLink: true }) %>
            <div class="palette-details__wrapper">
                <h2 class="palette-details__name"><%= palette.name %></h2>
                <p class="palette-details__description"> <%= palette.description %></p>
                <span class="creation-date">Shared: <%= getRelativeDate(palette.created_at) %></span>
            </div>
        </section>
    </main>
</body>
</html>