<!DOCTYPE html>
<html lang="en">
<%- include('partials/head-boilerplate') %>
<body>
    <%- include('partials/header', { currentRoute: 'share' }) %>
    <main class="main spacing-top">
        <h1 class="share-page__title self-center">Pick one. Make it yours. Share it.</h1>
        <ul class="list gap--xl center">
            <%- include('partials/share-item', {
                endpointItemName: 'color',
                iconClass: 'bx bx-color',
                title: 'Color',
                subtitle: 'A single color can say a lot'
            }) %>
            <%- include('partials/share-item', {
                endpointItemName: 'tag',
                iconClass: 'bx bx-purchase-tag',
                title: 'Tag',
                subtitle: 'Labels that give meaning'
            }) %>
            <%- include('partials/share-item', {
                endpointItemName: 'palette',
                iconClass: 'bx bx-palette',
                title: 'Palette',
                subtitle: 'A symphony of shades'
            }) %>
        </ul>
    </main>
</body>
</html>